{% extends "dashboard/index.twig" %}

{% block title %}
    Wedstrijd
{% endblock %}


{% block heading %}
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1>{{competition.title}}</h1>
                <h4>{{competition.description}}</h4>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">

            <div class="page-header">
                <h3>
                    Rondes
                <a href="/mok/competitions/{{competition.id}}/addround" class="btn btn-default btn-header">
                    Ronde toevoegen
                </a>
                </h3>
            </div>

            <div class="container">
                <p class="error">            
                </p>
                {% if competition.rounds is empty%}
                    <p> Er zijn nog geen rondes </p>
                {% else %}
                    <table class="table-link" style="width:50%;">
                        <thead>
                            <tr>
                                <th style="width:60%;">Opdracht</th>
                                <th style="width:10%;">Moeilijkheidsgraad</th>
                                <th style="width:20%;">Duratie</th>
                                <th style="width:5%;"></th>
                                <th style="width:5%;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for round in competition.rounds %}
                                <tr>
                                    <td><a href="/mok/rounds/{{round.id}}">{{round.assignment.name}}</a></td>
                                    <td><a href="/mok/rounds/{{round.id}}">{{round.multiplier}}</a></td>
                                    <td><a href="/mok/rounds/{{round.id}}">{{round.duration}}</a></td>
                                    <td><a href="#"><span class="fa fa-edit"></a></td>
                                    <td><a href="#"><span class="fa fa-minus-circle"></a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">

            <div class="page-header">
                <h3>
                    Teams
                <a href="/mok/competitions/{{competition.id}}/addteam" class="btn btn-default btn-header" style="float:right;">
                    Team toevoegen
                </a>
                </h3>
            </div>

            <div class="container">
                <p class="error">            
                </p>
                {% if competition.teams is empty%}
                    <p> Er zijn nog geen teams </p>
                {% else %}
                    <table class="table-link" style="width:50%;">
                        <thead>
                            <tr>
                                <th style="width:45%;">Teamnaam</th>
                                <th style="width:45%;">Team leider</th>
                                <th style="width:5%;"></th>
                                <th style="width:5%;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for team in competition.teams %}
                                <tr>
                                    <td><a href="/mok/teams/{{team.id}}">{{team.teamname}}</a></td>
                                    <td><a href="/mok/teams/{{team.id}}">{{team.fullname}}</a></td>
                                    <td><a href="#"><span class="fa fa-edit"></a></td>
                                    <td><a href="#"><span class="fa fa-minus-circle"></a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
