{% extends "dashboard/index.twig" %}

{% block title %}
    Teams
{% endblock %}


{% block heading %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Teams
                <a href="/mok/teams/new" class="btn btn-default btn-header">
                    Team toevoegen
                </a>
            </h1>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <p class="error">            
            </p>
            {% if teams is empty%}
                <p> Er zijn nog geen teams </p>
            {% else %}
                <table class="table-link" style="width:60%;">
                    <thead>
                        <tr>
                            <th style="width:35%;">Naam</th>
                            <th style="width:30%;">Leider</th>
                            <th style="width:30%;">Mailadres</th>
                            <th style="width:5%;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for team in teams %}
                            <tr>
                                <td><a href="/mok/teams/{{team.username}}">{{team.teamname}}</a></td>
                                <td><a href="/mok/teams/{{team.username}}">{{team.fullname}}</a></td>
                                <td><a href="/mok/teams/{{team.username}}">{{team.email}}</a></td>
                                <td><a href="#"><span class="fa fa-minus-circle"></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>

{% endblock %}
