{% extends "index.twig" %}

{% block title %}
    Ronde
{% endblock %}

{% block content %}
    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12 text-center">
                    <h2 class="brand-before">
                        <small>Ronde</small>
                    </h2>
                    <h1 class="brand-name">{{round.title}}</h1>
                    <hr class="tagline-divider">
                    <h2>
                        <small>
                            <strong>TODO 01:12:53</strong>
                        </small>
                    </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>Ronde informatie</strong>
                    </h2>
                    <hr>
                    <table class="table-link table-centered" align="center" style="width:100%;">
                        <thead>
                            <tr>
                                <th style="width:20%;">Opdracht</th>
                                <th style="width:50%;">Omschrijving</th>
                                <th style="width:10%;">Duratie</th>
                                <th style="width:10%;">Moeilijkheid</th>
                                <th style="width:5%;">Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{round.assignment.name}}</td>
                                <td>{{round.assignment.spectatorDescription}}</td>
                                <td>{{round.duration}}</td>
                                <td>{{round.multiplier}}</td>
                                <td><a href="#"><span class="fa fa-file"></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>Teams</strong>
                    </h2>
                    <hr>
                    <table class="table-link table-centered" align="center" style="width:70%;">
                        <thead>
                            <tr>
                                <th style="width:40%;">Teamnaam</th>
                                <th style="width:40%;">Naam teamleider</th>
                                <th style="width:5%;">Totaalscore</th>
                                <th style="width:5%;">Uitwerkingen</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for team in teams %}
                                <tr>
                                    <td><a href="/spec/team/{{team.username}}">{{team.teamname}}</a></td>
                                    <td><a href="/spec/team/{{team.username}}">{{team.fullname}}</a></td>
                                    <td><a href="/spec/team/{{team.username}}">{{team.totalscore}}</a></td>
                                    <td><a href="#"><span class="fa fa-file-text"></a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>   
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>Newsfeed</strong>
                    </h2>
                    <hr>
                    <ul>
                        {% for item in newsitems %}
                            <li>
                                {{ item }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

    </div>
{% endblock %}